body{
    padding: 20px;
}
.city-close {
    position: absolute;
    color: red;
    top:10px;
    right:10px;
    opacity: 0;
    transition: 700ms;
}
.city-el:hover .city-close{
    opacity: 1;
    
}

.city-el{
    position: relative;
    padding:25px;
}

.city-temp {
    font-size:24px;
}
.city-name{
    font-size: 18px;
}