body{
    padding: 20px;
}
.city-close {
    position: absolute;
    color: red;
    top:10px;
    right:10px;
    opacity: 0;
    transition: 700ms;
}
.city-el:hover .city-close{
    opacity: 1;
    
}
.form-control{
    width: 60%;
}
.btn{
    margin-top: 20px;
}

.city-el{
    margin-top: 20px;
    position: relative;
    padding:25px;
    border-radius: 20px;
    border: solid 2px #a4a4a4;
}
.city-el+.city-el{
    margin-left: 20px;
}

.city-temp {
    font-size:24px;
}
.city-name{
    font-size: 18px;
}